.trip-card {
  padding: 20px;
  border: 10px;
  border-radius: 10px;
  background-color: #00008b;
  width: 300px;
  margin: 10px;
}

.thumbnail {
  object-fit: cover;
  width: 200px;
  height: 200px;
}
